{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<main id="review">
<section>
  <h2>{{ .Title }}</h2>
  <time>{{ .Date.Format "2. January, 2006"}}</time>
   {{ with .Params.ratings }}
      {{ range . }}
      <p>Rating: <a class="ratings__value {{ trim . "+-" }}" href="{{ "/ratings/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
      {{ end }}
    {{ end }}
    
</section>
<section>
  <article>
    {{ .Content }}
  </article>
</section>
<section>
  {{ with .Params.tags }}
    <ul id="tags">
      <li>Tags: </li>
      {{ range . }}
        <li> <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
</section>
</main>
{{ partial "footer.html" . }}
