<section class='summary {{ range .Params.ratings }}{{ trim . "+-" }} {{ end }}'>
  <div class="container">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> 
      {{ range .Params.ratings }}
          <a class='ratings__value {{ trim . "+-" }}'  href="{{ "/ratings/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </h2>
    <time>{{ .Date.Format "2. January, 2006"}}</time>
        
    <article>
      <p>{{ .Summary }}</p>
    </article>
    <h3><a href="{{ .RelPermalink }}">Read more...</a></h3>
</div>
</section>
