<section id="header">
  <h1>
    <a href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
  </h1>
  <h2>{{.Site.Params.subtitle}}</h2>
  <ul id="rating-menu">
    <li><a class="ratings__value a" href="/ratings/a+">a+</a></li>
    <li><a class="ratings__value a" href="/ratings/a">a</a></li>
    <li><a class="ratings__value a" href="/ratings/a-">a-</a></li>
    <li><a class="ratings__value b" href="/ratings/b+">b+</a></li>
    <li><a class="ratings__value b" href="/ratings/b">b</a></li>
    <li><a class="ratings__value b" href="/ratings/b-">b-</a></li>
    <li><a class="ratings__value c" href="/ratings/c+">c+</a></li>
    <li><a class="ratings__value c" href="/ratings/c">c</a></li>
    <li><a class="ratings__value c" href="/ratings/c-">c-</a></li>
    <li><a class="ratings__value d" href="/ratings/d">d</a></li>
    <li><a class="ratings__value search" href="/search">Search</a></li>
  </ul>
</section>
