/**
dark blue: #1a3963
medium blue #4d92ee
light blue #5cadef
goldenrod #efba50
ochre #e79c48
rust #bf4733
Inspiration: https://d.pr/i/rcyUA2
https://www.instagram.com/swatch_bharat/

darkest grey: #242829
lightest grey: #f1efe1
green: #6ec3a6
pink: #ec796f
lightest blue: #ec796f

**/

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Della Respira', serif;
  line-height: 1.25;
}

.container,
#review {
  width: 66%;
  margin: 0 auto;
  padding: 30px 0;
}

@media(max-device-width: 667px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 80px;
  }
}

a {
  text-decoration: none;
  color: #336699;
}

a:visited {
  color: #333;
}

a:hover {
  color: #C0C0C0;
}

p {
  line-height: 1.4;
  text-align: justify;
}

@media(max-device-width: 667px) {
  p {
    font-size: 3em;
  }
}

.aaa { background-color: #43A047; }
.aa { background-color: #388E3C; }
.a { background-color: #2E7D32; }
.ax { background-color: #1B5E20; }
.bb { background-color: #1976D2; }
.b { background-color: #1565C0; }
.bx { background-color: #0D47A1; }
.cc { background-color: #7B1FA2; }
.c { background-color: #6A1B9A; }
.cx { background-color: #4A148C; }
.dd { background-color: #C2185B; }
.d { background-color: #AD1457; }
.dx { background-color: #880E4F; }

img {
  max-width: 100%;
}

section#header {
  padding: 40px 0;
  background: #222;
  width: 100%;
}

section#header h1 {
  font-size: 5.063em;
  text-align: center;
  margin: 0 0 9px 0;
}
section#header h1 > a {
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #ccc;
}
section#header h1 > a:hover {
  color: #fff;
  background-color: #e79c48;
}
@media(max-device-width: 667px) {
  section#header h1 {
    font-size: 6em;
    margin: 0;
  }
}

section#header h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 2.25em;
  margin-top: 0;
  font-weight: 300;
  text-align: center;
  color: #ccc;
}

@media(max-device-width: 667px) {
  section#header h2 {
    font-size: 1.5em;
  }
}

section.summary {
  padding: 0 0 0 10px;
  border-left: 1px solid black;
  margin: 0 0 60px 0;
}

@media(max-device-width: 667px) {
  section.summary {
    padding: 0 0 0 0;
    border-left: 0px solid black;
  }
}

section.summary article {
  margin: 15px 0 0 0;
}
section h2 {
  font-size: 1.3em;
  line-height: 1.25;
}

@media(max-device-width: 667px) {
  section h2 {
    font-size: 4em;
    padding-bottom: 5px;
  }
}

section h2 a {
  color: #000;
}

section time {
  font-family: 'Cutive Mono', monospace;
  margin: 0 0 0 2px;
  font-size: 0.8em;
}

section article {
  margin: 15px 0 0 0;
}

section#paginator {
  margin: 0 0 140px 0;
  font-family: 'Lobster', cursive;
  width: 66%;
    margin: 0 auto;
}

@media(max-device-width: 667px) {
  section#paginator {
    font-size: 5em;
    padding-bottom: 60px;
    
  }
}

section#paginator #next {
  float: right;
}

#post {
  margin: 0 0 100px 0;
}
#post #ratings {
  list-style: none;
  margin: 0;
  padding: 0;
}
#post #ratings li {
  display: inline;
  margin: 0;
  padding: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul, ol {
  list-style: disc;
  margin-top: 30px;
}
li {
  margin-left: 30px;
  margin-bottom: 15px;
  line-height: 1.25;
}
ul#tags {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
}
ul#tags li {
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
}
p {
  margin-bottom: 30px;
}
strong {
  font-weight: 700;
}
.summary p {
  margin-bottom: 15px;
}
.summary ul, .summary ol {
  list-style: none;
  margin-top: 15px;
}
.summary li {
  margin-left: 0;
}
section#footer {
  margin-top: 30px;  
  padding: 30px 0;
  background-color: #222;
}
section#footer #footer__content {
  width: 66%;
  margin: 0 auto;
  color: #ccc;
}

.ratings__value {
  text-transform: uppercase;
  border: solid 1px #242829;
  border-radius: 10px;
  padding: 3px 6px;
  font-size: .85em;
}

a.ratings__value {
  color: #ccc;
}
a:visted.ratings__value {
  color: #ccc;
}

section.a {
  background-color: #f5f5f5;
}
section.b{
  background-color: #f5f5f5;
}
section.c {
  background-color: #f5f5f5;
}
section.d {
  background-color: #f5f5f5;
}
section.f {
  background-color: #f5f5f5;
}
